apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  labels:
    app.kubernetes.io/name: server
    app.kubernetes.io/component: backend
    app.kubernetes.io/instance: server-qiowefjfnk
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: server
      app.kubernetes.io/component: backend
      app.kubernetes.io/instance: server-qiowefjfnk
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: server
      app.kubernetes.io/component: backend
    spec:
      containers:
      - name: server
        image: deall/server:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 27017
